$TTL	3600
@		IN	SOA	zeus.daprime.net. root.daprime.net. (
		2018011502                    ; Serial
		      3600                    ; Refresh [1h]
		       600                    ; Retry [10m]
		     86400                    ; Expire [1d]
		       600 )                  ; Negative Cache TTL [1h]
;
@		IN	NS	zeus.daprime.net.

zeus		IN	A	192.168.0.1
apollo		IN	A	192.168.0.2
castor		IN	A	192.168.0.3
athena		IN	A	192.168.0.10
artemis		IN	A	192.168.0.11
ares		IN	A	192.168.0.12
