@		IN	SOA	pluto.daprime.net. root.daprime.net. (
		2017072903                    ; Serial
		      3600                    ; Refresh [1h]
		       600                    ; Retry [10m]
		     86400                    ; Expire [1d]
		       600 )                  ; Negative Cache TTL [1h]
;
@		IN	NS	pluto.daprime.net.

1		IN	PTR	pluto.daprime.net.
2		IN	PTR	jupiter.daprime.net.
3		IN	PTR	titan.daprime.net.
7		IN	PTR	andromeda.daprime.net.
100		IN	PTR	hulk.daprime.net.
