# {{ ansible_managed }}
# Modifications to this file will be destroyed!

domain ip {
  table filter {
    chain INPUT {
      # DHCP requests
      interface {{ hostvars[ansible_hostname]["public_interface"]["name"] }} protocol udp dport 67:68 sport 67:68 ACCEPT;
    }
  }
}
