# {{ ansible_managed }}
{% set public_interface = hostvars[ansible_hostname]["public_interface"]["name"] %}
{% set private_interface = hostvars[ansible_hostname]["private_interface"]["name"] %}
{% set public_address = hostvars[ansible_hostname]["ansible_" ~ public_interface]["ipv4"]["address"] %}
{% set public_netmask = hostvars[ansible_hostname]["ansible_" ~ public_interface]["ipv4"]["netmask"] %}
{% set private_address = hostvars[ansible_hostname]["ansible_" ~ private_interface]["ipv4"]["address"] %}
{% set private_netmask = hostvars[ansible_hostname]["ansible_" ~ private_interface]["ipv4"]["netmask"] %}
{% set public_subnet = public_address ~ "/" ~ public_netmask %}
{% set private_subnet = private_address ~ "/" ~ private_netmask %}
# Modifications to this file will be destroyed!

authoritative;

option domain-name "daprime.net";
option domain-search "daprime.net";
option domain-name-servers {{ private_address }};
ddns-updates on;
ddns-update-style interim;

key daprime-key {
	algorithm hmac-md5;
	secret {{ dynamic_dns_key }};
}

zone daprime.net. {
	primary {{ private_address }};
	key daprime-key;
}

zone 0.168.192.in-addr.arpa. {
	primary {{ private_address }};
	key daprime-key;
}

subnet 192.168.0.0 netmask 255.255.255.0 {
	pool {
		range 192.168.0.50 192.168.0.99;
	}
	option routers {{ private_address }};
	option domain-name-servers {{ private_address}};
	option ntp-servers {{ private_address }};
}

host apollo {
	hardware ethernet 14:da:e9:58:db:af;
	fixed-address 192.168.0.2;
}
host castor {
	hardware ethernet 28:cf:e9:1c:e0:f9;
	fixed-address 192.168.0.3;
}
host krypton {
	hardware ethernet 04:e6:76:8e:e9:bd;
	fixed-address 192.168.0.14;
}
