# {{ ansible_managed }}
auto lo
iface lo inet loopback
{% for interface in interfaces %}
{% set vlan = vlans[interface.vlan] if interface.vlan is defined else None %}

{#
	Setup standard interface logic (with optional vlan tagging)
#}
{% if vlan and vlan.id is defined %}
auto {{ interface.name }}.{{ vlan.id }}
iface {{ interface.name }}.{{ vlan.id }} inet {{ interface.type }}
{% else %}
auto {{ interface.name }}
iface {{ interface.name }} inet {{ interface.type }}
{% endif %}
{#
	add the actual configuration
#}
{% if interface.type == 'static' %}
{% if vlan  %}
	address {{ ((vlan.address | ipaddr('network') | ipaddr('int')) + interface.address) | ipaddr('address') }}
	netmask {{ vlan.address | ipaddr('netmask') }}
{% endif %}
{% if 'routers' not in group_names %}
	gateway {{ ((vlan.address | ipaddr('network') | ipaddr('int')) + 1) | ipaddr('address') }}
{% endif %}
{# dns-search {{ vlan.domain_name }} #}
{# dns-nameservers {{ groups['dns-servers']|map('extract', hostvars, ['private_interface', 'address'])|ipaddr('address')|list|join(' ') }} #}
{% endif %}
{% if interface.extra_config is defined and interface.extra_config %}
{% for line in interface.extra_config %}
	{{ line }}
{% endfor %}
{% endif %}
{% endfor %}
